<h1 class="mb-1 restaurant-show-title">請輸入您想要新增的資料</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <form action="/restaurants" method="post" id="description">
        <div class="mb-1">
          <span class="text-secondary">
            <i class="fas fa-utensils pr-2"></i>
            名稱：
          </span>
          <input type="text" name="name" placeholder="name.." size="15">
        </div>
        <div class="mb-1">
          <span class="text-secondary">
            <i class="fas fa-utensils pr-2"></i>
            類別：
          </span>
          <input type="text" name="category" placeholder="category.." size="15">
        </div>

        <div class="mb-1">
          <span class="text-secondary">
            <i class="fas fa-map-marker-alt pr-2"></i>
            地址：
          </span>
          <input type="text" name="location" placeholder="location.." size="40">
          <input type="text" name="google_map" placeholder="google_map link here.." size="30">
        </div>

        <div class="mb-1">
          <span class="text-secondary">
            <i class="fas fa-mobile-alt pr-2"></i>
            電話：
          </span>
          <input type="text" name="phone" placeholder="phone number.." size="15">
          <br>
          <span class="text-secondary d-inline-block mt-2">
            <i class="fas fa-image pr-2"></i>
            照片：
          </span>
          <input type="text" name="image" placeholder="picture link here.." size="30">

        </div>
        <button type="submit" class="btn btn-primary fixed-bottom">確認</button>
      </form>
      <div class="d-inline-block mx-1 mb-5">
        <p>簡介：</p>
        <textarea type="text" name="description" placeholder="restaurant description.." form="description" cols="50"
          rows="4"></textarea>
      </div>
    </div>
  </div>
</div>